In [112]:
import pandas as pd # may have interpreter issues
import os

In [113]:
# IMPORTING DATA FROM EXISTING TABLE
df = pd.read_csv(r"MBTA Rail Ridership by Time Period, Season, Route_Line, and Stop.csv")

In [114]:
#DROPPING UNNECESSARY COLUMNS
columns_to_drop = ['stop_id', 'day_type_id', 'direction_id', 'mode', 'FID']
df = df.drop(columns=columns_to_drop)

In [115]:
# CHANGING VALUES TO BE MORE READ-ABLE
df['time_period_name'] = df['time_period_name'].str.replace('_', ' ').str.title() #replacing _ with ' ' and recapitalizing
df['day_type_name'] = df['day_type_name'].str.title() # title casing for weekday/sat/sun
df['year'] = df['season'].str.split().str[-1].astype(int) # creating a year column
df['time_period_id'] = df['time_period_id'].str.extract(r'(\d+)').astype(int) # only obtaining integer for id

In [116]:
df

,season,route_id,route_name,day_type_name,time_period_id,time_period_name,stop_name,total_ons,total_offs,number_service_days,average_ons,average_offs,average_flow,year
0,Fall 2019,Green,Green Line,Weekday,1,Very Early Morning,Allston Street,0,17,77,0,0,4,2019
1,Fall 2019,Green,Green Line,Weekday,1,Very Early Morning,Arlington,2675,8021,77,35,104,381,2019
2,Fall 2019,Green,Green Line,Weekday,1,Very Early Morning,Babcock Street,0,151,77,0,2,8,2019
3,Fall 2019,Green,Green Line,Weekday,1,Very Early Morning,Back of the Hill,0,36,77,0,0,4,2019
4,Fall 2019,Green,Green Line,Weekday,1,Very Early Morning,Beaconsfield,12,67,77,0,1,44,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Porter,59366,9940,16,3710,621,13842,2017
7916,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Quincy Adams,388,26507,16,24,1657,1549,2017
7917,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Quincy Center,2128,67000,16,133,4188,3182,2017
7918,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Savin Hill,2292,18338,16,143,1146,7237,2017
7919,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Shawmut,657,28253,16,41,1766,3361,2017

## Adding Distance Data

## Filtering To Red Line Only

In [117]:
red_df = df[df['route_id'] == 'Red']
red_stops = red_df['stop_name'].unique()

print(red_stops)
red_stops_only = pd.DataFrame({'stop_name': red_stops})
red_stops_only

['Ashmont' 'Broadway' 'Braintree' 'Charles/MGH' 'Central' 'Davis'
 'Downtown Crossing' 'Fields Corner' 'Harvard' 'JFK/Umass' 'Kendall/MIT'
 'North Quincy' 'Park Street' 'Porter' 'Quincy Adams' 'Quincy Center'
 'Savin Hill' 'Shawmut' 'South Station' 'Wollaston' 'Alewife' 'Andrew']

            stop_name
0             Ashmont
1            Broadway
2           Braintree
3         Charles/MGH
4             Central
5               Davis
6   Downtown Crossing
7       Fields Corner
8             Harvard
9           JFK/Umass
10        Kendall/MIT
11       North Quincy
12        Park Street
13             Porter
14       Quincy Adams
15      Quincy Center
16         Savin Hill
17            Shawmut
18      South Station
19          Wollaston
20            Alewife
21             Andrew

In [118]:
# CREATE NEW DATAFRAME OF STOP + DISTANCES HERE
red_dist_df = pd.read_csv(r"distance-data-redLine.csv")
red_dist_df = red_dist_df.sort_values('stop_name')
red_dist_df

            stop_name  distance_to_center
0             Alewife            4.892850
11             Andrew            2.064669
14            Ashmont            5.223824
19          Braintree           10.937135
10           Broadway            1.211795
4             Central            2.300899
6         Charles/MGH            0.598631
1               Davis            4.091835
8   Downtown Crossing            0.324401
3             Harvard            3.210236
5         Kendall/MIT            1.376744
15       North Quincy            6.042397
7         Park Street            0.309052
2              Porter            3.647966
18       Quincy Adams            9.157279
17      Quincy Center            7.946998
12         Savin Hill            3.380449
13            Shawmut            4.637936
9       South Station            0.598479
16          Wollaston            6.756259

In [119]:
# Merge red_df and red_dist_df on 'stop_name' column
merged_df = pd.merge(red_df, red_dist_df, on='stop_name', how='left')

# Populate 'distance' column in red_df using values from red_dist_df
# merged_df['distance'] = merged_df['distance_to_center'].where(
#     merged_df['distance_to_center'].notnull(),
#     merged_df['distance']
# )

merged_df

,season,route_id,route_name,day_type_name,time_period_id,time_period_name,stop_name,total_ons,total_offs,number_service_days,average_ons,average_offs,average_flow,year,distance_to_center
0,Fall 2019,Red,Red Line,Weekday,5,Midday School,Ashmont,0,118221,77,0,1535,0,2019,5.223824
1,Fall 2019,Red,Red Line,Weekday,5,Midday School,Broadway,25436,45375,77,330,589,7553,2019,1.211795
2,Fall 2019,Red,Red Line,Weekday,5,Midday School,Braintree,0,72016,77,0,935,0,2019,10.937135
3,Fall 2019,Red,Red Line,Weekday,5,Midday School,Charles/MGH,102736,34439,77,1334,447,7287,2019,0.598631
4,Fall 2019,Red,Red Line,Weekday,5,Midday School,Central,100113,34045,77,1300,442,4835,2019,2.300899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1447,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Porter,59366,9940,16,3710,621,13842,2017,3.647966
1448,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Quincy Adams,388,26507,16,24,1657,1549,2017,9.157279
1449,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Quincy Center,2128,67000,16,133,4188,3182,2017,7.946998
1450,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Savin Hill,2292,18338,16,143,1146,7237,2017,3.380449
1451,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Shawmut,657,28253,16,41,1766,3361,2017,4.637936

In [120]:
fields_corner_rows = merged_df[merged_df['stop_name'] == 'Ashmont']
fields_corner_rows

,season,route_id,route_name,day_type_name,time_period_id,time_period_name,stop_name,total_ons,total_offs,number_service_days,average_ons,average_offs,average_flow,year,distance_to_center
0,Fall 2019,Red,Red Line,Weekday,5,Midday School,Ashmont,0,118221,77,0,1535,0,2019,5.223824
22,Fall 2019,Red,Red Line,Weekday,6,Pm Peak,Ashmont,0,220672,77,0,2866,0,2019,5.223824
39,Fall 2019,Red,Red Line,Weekday,3,Am Peak,Ashmont,0,38739,77,0,503,0,2019,5.223824
51,Fall 2019,Red,Red Line,Weekday,7,Evening,Ashmont,0,103165,77,0,1340,0,2019,5.223824
78,Fall 2019,Red,Red Line,Weekday,4,Midday Base,Ashmont,0,61480,77,0,798,0,2019,5.223824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1338,Fall 2017,Red,Red Line,Weekday,9,Night,Ashmont,0,2138,82,0,26,0,2017,5.223824
1339,Fall 2017,Red,Red Line,Weekday,3,Am Peak,Ashmont,257146,0,82,3136,0,3136,2017,5.223824
1376,Fall 2017,Red,Red Line,Weekday,4,Midday Base,Ashmont,166240,0,82,2027,0,2027,2017,5.223824
1402,Fall 2017,Red,Red Line,Sunday,11,Off Peak,Ashmont,50847,0,17,2991,0,2991,2017,5.223824
1434,Fall 2017,Red,Red Line,Saturday,10,Off Peak,Ashmont,0,53770,16,0,3361,0,2017,5.223824

# EXPORTING FILES

In [121]:
#EXPORTING DATAFRAME
directory = "../"
file_name_csv = "MBTA_Data.csv"
file_name_json = "MBTA_Data.json"

In [122]:
# # export as csv
file_path = os.path.join(directory, file_name_csv)
merged_df.to_csv(file_path, index=False)

In [123]:
#export as json
file_path = os.path.join(directory, file_name_json)
merged_df.to_json(file_path, orient='records')